Repository appolloford/naunet: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clang-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: system
      types: [python]

    - id: clang-format
      name: clang-format
      files: \.(cpp|h).j2$
      entry: clang-format
      args: [-style=file, -i]
      language: python
      # types_or: [c++, c, c#, cuda]
      # minimum_pre_commit_version: 2.9.2

    # - id: pytest-check
    #   name: pytest-check
    #   entry: pytest
    #   language: system
    #   pass_filenames: false
    #   always_run: true

Make sure cmake use python3
  naunet/examples/cloud/test/CMakeLists.txt
  naunet/examples/deuterium/test/CMakeLists.txt
  naunet/examples/empty/test/CMakeLists.txt
  naunet/examples/fake/test/CMakeLists.txt
  naunet/examples/ism/test/CMakeLists.txt
  naunet/examples/primordial/test/CMakeLists.txt
  naunet/examples/template/test/CMakeLists.txt
  naunet/templates/common/demo.ipynb
  naunet/templates/cvode/CMakeLists.txt.j2
  naunet/templates/odeint/CMakeLists.txt.j2
Due: none

Fix cvode error handling
  naunet/templates/cvode/src/naunet.cpp.j2
Due: clang-format

Fix sundials version in macos workflow
  .github/workflows/macos.yml
Due: none

Rearrange templates and merge with tests in examples
  naunet/console/commands/example.py
  naunet/console/commands/render.py
  naunet/examples/cloud/test/multiplegrid.cpp
  naunet/examples/cloud/test/singlegrid.cpp
  naunet/examples/empty/test/CMakeLists.txt
  naunet/examples/empty/test/multiplegrid.cpp
  naunet/examples/empty/test/singlegrid.cpp
  naunet/examples/template/test/CMakeLists.txt
  naunet/examples/template/test/singlegrid.cpp
  naunet/examples/template/test/test.py.in
  naunet/network.py
  naunet/templateloader.py
  naunet/templates/base/cpp/include/naunet_constants.h.j2
  naunet/templates/base/cpp/include/naunet_data.h.j2
  naunet/templates/base/cpp/include/naunet_macros.h.j2
  naunet/templates/base/cpp/include/naunet_physics.h.j2
  naunet/templates/base/cpp/include/naunet_timer.h
  naunet/templates/base/cpp/include/naunet_utilities.h.j2
  naunet/templates/base/cpp/src/naunet_constants.cpp.j2
  naunet/templates/base/cpp/src/naunet_physics.cpp.j2
  naunet/templates/base/cpp/src/naunet_utilities.cpp.j2
  naunet/templates/base/cpp/tests/CMakeLists.txt.j2
  naunet/templates/base/cpp/tests/multiplegrid.cpp.j2
  naunet/templates/base/cpp/tests/singlegrid.cpp.j2
  naunet/templates/base/cpp/tests/test.py.in.j2
  naunet/templates/base/demo.ipynb
  naunet/templates/common/src/naunet_utilities.cpp.j2
  naunet/templates/cvode/CMakeLists.txt.j2
  naunet/templates/cvode/src/naunet.cpp.j2
  naunet/templates/odeint/CMakeLists.txt.j2
  naunet/templates/tests/cloud/CMakeLists.txt.j2
  naunet/templates/tests/cloud/multiplegrid.cpp.j2
  naunet/templates/tests/cloud/singlegrid.cpp.j2
  naunet/templates/tests/cloud/test.py.in.j2
  naunet/templates/tests/empty/CMakeLists.txt.j2
  naunet/templates/tests/empty/multiplegrid.cpp.j2
  naunet/templates/tests/empty/singlegrid.cpp.j2
  naunet/templates/tests/empty/test.py.in.j2
Due: black, clang-format

Move primordial tests into templates
  naunet/examples/primordial/test/CMakeLists.txt
  naunet/examples/primordial/test/multiplegrid.cpp
  naunet/examples/primordial/test/singlegrid.cpp
  naunet/templates/base/cpp/tests/CMakeLists.txt.j2
  naunet/templates/base/cpp/tests/multiplegrid.cpp.j2
  naunet/templates/base/cpp/tests/singlegrid.cpp.j2
  naunet/templates/base/cpp/tests/singlegrid.py.in.j2
  naunet/templates/base/cpp/tests/test.py.in.j2
  naunet/templates/tests/cloud/singlegrid.py.in.j2
  naunet/templates/tests/empty/singlegrid.py.in.j2
  naunet/templates/tests/primordial/CMakeLists.txt.j2
  naunet/templates/tests/primordial/multiplegrid.cpp.j2
  naunet/templates/tests/primordial/singlegrid.cpp.j2
  naunet/templates/tests/primordial/singlegrid.py.in.j2
  scripts/actions/test_examples.sh
Due: clang-format

Fix definition mistake
  naunet/examples/primordial/primordial.krome
  naunet/species.py
Due: black

Provide function to conserve element abundance
  naunet/species.py
  naunet/templateloader.py
  naunet/templates/base/cpp/include/naunet_macros.h.j2
  naunet/templates/base/cpp/include/naunet_physics.h.j2
  naunet/templates/base/cpp/src/naunet_physics.cpp.j2
  naunet/templates/base/cpp/tests/renorm.cpp.j2
  naunet/templates/cvode/include/naunet.h.j2
  naunet/templates/cvode/src/naunet.cpp.j2
  naunet/templates/tests/cloud/CMakeLists.txt.j2
  naunet/templates/tests/cloud/renorm.cpp.j2
  tests/test_species.py
Due: black, clang-format

Move other tests into templates
  naunet/console/commands/example.py
  naunet/examples/fake/fake.krome
  naunet/examples/fake/test/CMakeLists.txt
  naunet/examples/fake/test/multiplegrid.cpp
  naunet/examples/fake/test/singlegrid.cpp
  naunet/examples/fake/test/test.py.in
  naunet/examples/ism/test/CMakeLists.txt
  naunet/examples/ism/test/multiplegrid.cpp
  naunet/examples/ism/test/singlegrid.cpp
  naunet/examples/minimal/__init__.py
  naunet/examples/minimal/minimal.kida
  naunet/templates/tests/ism/CMakeLists.txt.j2
  naunet/templates/tests/ism/multiplegrid.cpp.j2
  naunet/templates/tests/ism/singlegrid.cpp.j2
  naunet/templates/tests/ism/singlegrid.py.in.j2
  naunet/templates/tests/minimal/CMakeLists.txt.j2
  naunet/templates/tests/minimal/multiplegrid.cpp.j2
  naunet/templates/tests/minimal/singlegrid.cpp.j2
  naunet/templates/tests/minimal/singlegrid.py.in.j2
Due: black, clang-format

Modify macro template
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  naunet/examples/primordial/__init__.py
  naunet/templateloader.py
  naunet/templates/base/cpp/include/naunet_macros.h.j2
  tests/test_species.py
Due: black, clang-format

Fix some templates
  naunet/templateloader.py
  naunet/templates/base/cpp/include/naunet_macros.h.j2
  naunet/templates/tests/empty/multiplegrid.cpp.j2
  naunet/templates/tests/empty/singlegrid.cpp.j2
  naunet/templates/tests/empty/singlegrid.py.in.j2
Due: black, clang-format

Fix minor bug
  naunet/templates/cvode/src/naunet.cpp.j2
Due: clang-format

Fix minor bug
  naunet/templates/tests/deuterium/multiplegrid.cpp.j2
Due: clang-format

Fix bug in enzo patch
  naunet/templates/patches/enzo/naunet_enzo.h.j2
Due: clang-format

Add another way to identify species in enzo
  naunet/network.py
  naunet/patchmaker.py
  naunet/templates/patches/enzo/Grid.h.j2
  naunet/templates/patches/enzo/Grid_IdentifyNaunetSpeciesFields.C.j2
  naunet/templates/patches/enzo/naunet_enzo.h.j2
Due: black, clang-format

Rename some variables in enzo patch
  naunet/templates/patches/enzo/Grid_NaunetWrapper.C.j2
  naunet/templates/patches/enzo/ReadParameterFile.C
  naunet/templates/patches/enzo/hydro_rk/Grid_UpdateMHDPrim.C
  naunet/templates/patches/enzo/hydro_rk/Grid_UpdatePrim.C
  naunet/templates/patches/enzo/naunet_enzo.h.j2
Due: clang-format

Support renorm function in odeint
  naunet/templateloader.py
  naunet/templates/odeint/include/naunet.h.j2
  naunet/templates/odeint/src/naunet.cpp.j2
Due: black, clang-format

Remove headername option
  .github/workflows/macos.yml
  naunet/templateloader.py
  naunet/templates/base/cpp/src/naunet_constants.cpp.j2
  naunet/templates/base/cpp/src/naunet_physics.cpp.j2
  naunet/templates/cvode/src/naunet.cpp.j2
  naunet/templates/cvode/src/naunet_fex.cpp.j2
  naunet/templates/cvode/src/naunet_jac.cpp.j2
  naunet/templates/cvode/src/naunet_rates.cpp.j2
  naunet/templates/odeint/src/naunet.cpp.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
Due: black, clang-format

Inherit templates
  naunet/templateloader.py
  naunet/templates/base/cpp/include/naunet_constants.h.j2
  naunet/templates/base/cpp/include/naunet_data.h.j2
  naunet/templates/base/cpp/include/naunet_macros.h.j2
  naunet/templates/base/cpp/include/naunet_physics.h.j2
  naunet/templates/base/cpp/include/naunet_timer.h.j2
  naunet/templates/base/cpp/include/naunet_utilities.h.j2
  naunet/templates/base/cpp/src/naunet_constants.cpp.j2
  naunet/templates/base/cpp/src/naunet_physics.cpp.j2
  naunet/templates/base/cpp/src/naunet_utilities.cpp.j2
  naunet/templates/base/cpp/tests/multiplegrid.cpp.j2
  naunet/templates/base/cpp/tests/paralleldata.cpp.j2
  naunet/templates/base/cpp/tests/renorm.cpp.j2
  naunet/templates/base/cpp/tests/serialdata.cpp.j2
  naunet/templates/base/cpp/tests/singlegrid.cpp.j2
  naunet/templates/cvode/CMakeLists.txt.j2
  naunet/templates/cvode/include/naunet_constants.h.j2
  naunet/templates/cvode/include/naunet_data.h.j2
  naunet/templates/cvode/include/naunet_macros.h.j2
  naunet/templates/cvode/include/naunet_physics.h.j2
  naunet/templates/cvode/include/naunet_timer.h.j2
  naunet/templates/cvode/include/naunet_utilities.h.j2
  naunet/templates/cvode/src/naunet_constants.cpp.j2
  naunet/templates/cvode/src/naunet_physics.cpp.j2
  naunet/templates/cvode/src/naunet_utilities.cpp.j2
  naunet/templates/odeint/CMakeLists.txt.j2
  naunet/templates/odeint/include/naunet_constants.h.j2
  naunet/templates/odeint/include/naunet_data.h.j2
  naunet/templates/odeint/include/naunet_macros.h.j2
  naunet/templates/odeint/include/naunet_physics.h.j2
  naunet/templates/odeint/include/naunet_timer.h.j2
  naunet/templates/odeint/include/naunet_utilities.h.j2
  naunet/templates/odeint/src/naunet_constants.cpp.j2
  naunet/templates/odeint/src/naunet_physics.cpp.j2
  naunet/templates/odeint/src/naunet_utilities.cpp.j2
  tests/test_templateloader.py
Due: black, clang-format

Simplify rendering
  naunet/console/commands/render.py
  naunet/network.py
  naunet/templateloader.py
Due: black

Update macos workflow
  .github/workflows/macos.yml
Due: none

Simplify rendering process and rename variables
  naunet/console/commands/example.py
  naunet/console/commands/init.py
  naunet/network.py
  naunet/templateloader.py
  naunet/templates/base/cpp/include/naunet_constants.h.j2
  naunet/templates/base/cpp/include/naunet_data.h.j2
  naunet/templates/base/cpp/include/naunet_macros.h.j2
  naunet/templates/base/cpp/include/naunet_physics.h.j2
  naunet/templates/base/cpp/src/naunet_constants.cpp.j2
  naunet/templates/base/cpp/src/naunet_physics.cpp.j2
  naunet/templates/cvode/CMakeLists.txt.j2
  naunet/templates/cvode/include/naunet.h.j2
  naunet/templates/cvode/include/naunet_ode.h.j2
  naunet/templates/cvode/src/CMakeLists.txt.j2
  naunet/templates/cvode/src/naunet.cpp.j2
  naunet/templates/cvode/src/naunet_fex.cpp.j2
  naunet/templates/cvode/src/naunet_jac.cpp.j2
  naunet/templates/cvode/src/naunet_rates.cpp.j2
  naunet/templates/odeint/CMakeLists.txt.j2
  naunet/templates/odeint/include/naunet.h.j2
  naunet/templates/odeint/src/CMakeLists.txt.j2
  naunet/templates/odeint/src/naunet.cpp.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
  tests/test_templateloader.py
Due: black, clang-format

Refactor assigning rates
  naunet/templateloader.py
  naunet/thermalprocess.py
Due: black

Refactor jacobian
  naunet/reactions/kromereaction.py
  naunet/templateloader.py
  naunet/templates/cvode/src/naunet_jac.cpp.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
Due: black, clang-format

Refactor enzo patch templates
  naunet/console/commands/render.py
  naunet/network.py
  naunet/patchmaker.py
  naunet/species.py
  naunet/templates/base/cpp/include/naunet_macros.h.j2
  naunet/templates/patches/enzo/Grid.h.j2
  naunet/templates/patches/enzo/Grid_IdentifyNaunetSpeciesFields.C.j2
  naunet/templates/patches/enzo/Grid_NaunetWrapper.C.j2
  naunet/templates/patches/enzo/hydro_rk/CollapseMHD3DInitialize.C.j2
  naunet/templates/patches/enzo/hydro_rk/Grid_CollapseMHD3DInitializeGrid.C.j2
  naunet/templates/patches/enzo/hydro_rk/Grid_ReturnHydroRKPointers.C.j2
  naunet/templates/patches/enzo/hydro_rk/Grid_ReturnOldHydroRKPointers.C.j2
  naunet/templates/patches/enzo/hydro_rk/Grid_TurbulenceInitializeGrid.C.j2
  naunet/templates/patches/enzo/hydro_rk/Grid_UpdateElectronDensity.C.j2
  naunet/templates/patches/enzo/hydro_rk/TurbulenceInitialize.C.j2
  naunet/templates/patches/enzo/naunet_enzo.h.j2
  naunet/templates/patches/enzo/typedefs.h.j2
  naunet/utilities.py
  tests/test_patchmaker.py
  tests/test_species.py
Due: black, clang-format

Improve formatting
  naunet/templates/patches/enzo/hydro_rk/Grid_CollapseMHD3DInitializeGrid.C.j2
  naunet/templates/patches/enzo/hydro_rk/Grid_TurbulenceInitializeGrid.C.j2
Due: none

Rename variables
  naunet/console/commands/render.py
  naunet/network.py
  naunet/patches.py
  tests/test_patchmaker.py
Due: black

Change default dust value, define reaction contains
  naunet/configuration.py
  naunet/examples/deuterium/__init__.py
  naunet/examples/empty/__init__.py
  naunet/examples/minimal/__init__.py
  naunet/examples/primordial/__init__.py
  naunet/network.py
  naunet/reactions/reaction.py
  tests/reactions/test_reaction.py
Due: black

Refactor physics template
  naunet/templateloader.py
  naunet/templates/base/cpp/src/naunet_physics.cpp.j2
Due: black, clang-format

Fix minor bugs
  naunet/console/commands/example.py
  naunet/console/commands/init.py
  naunet/templates/cvode/src/naunet_jac.cpp.j2
Due: black, clang-format

Refactor renorm function
  naunet/templateloader.py
  naunet/templates/cvode/src/naunet.cpp.j2
  naunet/templates/odeint/src/naunet.cpp.j2
Due: black, clang-format

Move header guards to derived templates
  naunet/templates/base/cpp/include/naunet_constants.h.j2
  naunet/templates/base/cpp/include/naunet_data.h.j2
  naunet/templates/base/cpp/include/naunet_macros.h.j2
  naunet/templates/base/cpp/include/naunet_physics.h.j2
  naunet/templates/base/cpp/include/naunet_timer.h.j2
  naunet/templates/base/cpp/include/naunet_utilities.h.j2
  naunet/templates/cvode/include/naunet_constants.h.j2
  naunet/templates/cvode/include/naunet_data.h.j2
  naunet/templates/cvode/include/naunet_macros.h.j2
  naunet/templates/cvode/include/naunet_physics.h.j2
  naunet/templates/cvode/include/naunet_timer.h.j2
  naunet/templates/cvode/include/naunet_utilities.h.j2
  naunet/templates/odeint/include/naunet_constants.h.j2
  naunet/templates/odeint/include/naunet_data.h.j2
  naunet/templates/odeint/include/naunet_macros.h.j2
  naunet/templates/odeint/include/naunet_physics.h.j2
  naunet/templates/odeint/include/naunet_timer.h.j2
  naunet/templates/odeint/include/naunet_utilities.h.j2
Due: clang-format

Change extends to include
  naunet/templates/cvode/include/naunet_constants.h.j2
  naunet/templates/cvode/include/naunet_data.h.j2
  naunet/templates/cvode/include/naunet_macros.h.j2
  naunet/templates/cvode/include/naunet_ode.h.j2
  naunet/templates/cvode/include/naunet_physics.h.j2
  naunet/templates/cvode/include/naunet_timer.h.j2
  naunet/templates/cvode/include/naunet_utilities.h.j2
  naunet/templates/odeint/include/naunet_constants.h.j2
  naunet/templates/odeint/include/naunet_data.h.j2
  naunet/templates/odeint/include/naunet_macros.h.j2
  naunet/templates/odeint/include/naunet_ode.h.j2
  naunet/templates/odeint/include/naunet_physics.h.j2
  naunet/templates/odeint/include/naunet_timer.h.j2
  naunet/templates/odeint/include/naunet_utilities.h.j2
Due: clang-format

Refactor moving renorm functions to another file
  naunet/templateloader.py
  naunet/templates/cvode/include/naunet_renorm.h.j2
  naunet/templates/cvode/src/CMakeLists.txt.j2
  naunet/templates/cvode/src/naunet.cpp.j2
  naunet/templates/cvode/src/naunet_jac.cpp.j2
  naunet/templates/cvode/src/naunet_renorm.cpp.j2
  naunet/templates/odeint/include/naunet_renorm.h.j2
  naunet/templates/odeint/src/CMakeLists.txt.j2
  naunet/templates/odeint/src/naunet.cpp.j2
  naunet/templates/odeint/src/naunet_renorm.cpp.j2
Due: black, clang-format

Fix cuda bug
  naunet/templates/cvode/include/naunet_renorm.h.j2
  naunet/templates/cvode/src/naunet_renorm.cpp.j2
Due: clang-format

Simplify jacobian rendering
  naunet/templateloader.py
  naunet/templates/cvode/src/naunet_jac.cpp.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
Due: black, clang-format

Minor changes
  naunet/templates/base/cpp/src/naunet_constants.cpp.j2
  naunet/templates/data/COshielding_11.2bH2_5e20nH.dat.j2
  naunet/templates/data/COshielding_VB88.dat.j2
  naunet/templates/data/H2shielding.dat.j2
  naunet/templates/data/N2shielding_11.2bH2_1e20nH.dat.j2
Due: clang-format

Add derived fields from elements on surface
  naunet/patches.py
Due: black

Clear github workflow
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
Due: none

Auto install cvode dense solver when not found
  .github/workflows/macos.yml
  naunet/templates/cvode/CMakeLists.txt.j2
Due: none
