Repository appolloford/naunet: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clang-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: system
      types: [python]

    - id: clang-format
      name: clang-format
      files: \.(cpp|h).j2$
      entry: clang-format
      args: [-style=file, -i]
      language: python
      # types_or: [c++, c, c#, cuda]
      # minimum_pre_commit_version: 2.9.2

    # - id: pytest-check
    #   name: pytest-check
    #   entry: pytest
    #   language: system
    #   pass_filenames: false
    #   always_run: true

Fix bugs
  naunet/templates/cvode/CMakeLists.txt.j2
Due: none

Add `extend` command
  naunet/console/application.py
  naunet/console/commands/extend.py
  naunet/console/commands/render.py
  naunet/network.py
  naunet/reactions/reaction.py
  naunet/species.py
  tests/data/multiduplicate.kida
  tests/test_network.py
  tests/test_species.py
Due: black

Fix path
  .github/workflows/macos.yml
  naunet/templates/cvode/CMakeLists.txt.j2
Due: none

Complete `extend` command
  naunet/console/commands/extend.py
  naunet/network.py
  naunet/reactions/kidareaction.py
  naunet/reactions/kromereaction.py
  naunet/reactions/leedsreaction.py
  naunet/reactions/reaction.py
  naunet/reactions/uclchemreaction.py
  naunet/reactions/umistreaction.py
  tests/console/commands/test_new.py
  tests/test_network.py
Due: black

Sort the species in the number of connection
  naunet/console/commands/render.py
  naunet/network.py
  naunet/templates/cvode/src/naunet.cpp.j2
Due: black, clang-format

Remove something not in use
  naunet/templates/cvode/include/naunet.h.j2
  naunet/templates/cvode/src/naunet.cpp.j2
Due: clang-format

Change some initail conditions
  naunet/templates/tests/minimal/multiplegrid.cpp.j2
  naunet/templates/tests/minimal/singlegrid.cpp.j2
  naunet/templates/tests/minimal/singlegrid.py.in.j2
Due: clang-format

Add enthalpy data for species
  naunet/chemistry/enthalpytable.csv
  naunet/species.py
  tests/test_species.py
Due: black

Refactor dust grain models
  naunet/chemistry/enthalpytable.csv
  naunet/dusts/__init__.py
  naunet/dusts/dust.py
  naunet/dusts/hh93dust.py
  naunet/dusts/rr07dust.py
  naunet/examples/cloud/__init__.py
  naunet/network.py
  naunet/reactions/leedsreaction.py
  naunet/reactions/reaction.py
  naunet/reactions/uclchemreaction.py
  naunet/species.py
  tests/dusts/test_dust.py
  tests/dusts/test_hh93dust.py
  tests/dusts/test_rr07dust.py
  tests/test_network.py
  tests/test_species.py
Due: black

Improve molecule name parsing, rename function, fix bugs
  naunet/console/commands/extend.py
  naunet/dusts/hh93dust.py
  naunet/dusts/rr07dust.py
  naunet/patches.py
  naunet/reactions/leedsreaction.py
  naunet/species.py
  naunet/templateloader.py
  naunet/templates/patches/enzo/Grid_IdentifyNaunetSpeciesFields.C.j2
  naunet/templates/patches/enzo/Grid_NaunetWrapper.C.j2
  naunet/templates/patches/enzo/naunet_enzo.h.j2
  naunet/templates/tests/ism/multiplegrid.cpp.j2
  naunet/templates/tests/ism/singlegrid.cpp.j2
  tests/test_species.py
Due: black, clang-format

Make chemistry data reading clear
  naunet/chemistry/__init__.py
  naunet/chemistrydata/__init__.py
  naunet/chemistrydata/enthalpytable.csv
  naunet/chemistrydata/isotopestable.csv
  naunet/chemistrydata/periodictable.csv
  naunet/chemistrydata/rate12_binding_energy.dat
  naunet/console/commands/render.py
  naunet/species.py
Due: black

Find grain species by pattern instead of finding in list
  naunet/configuration.py
  naunet/console/commands/example.py
  naunet/console/commands/render.py
  naunet/dusts/dust.py
  naunet/dusts/hh93dust.py
  naunet/examples/cloud/__init__.py
  naunet/examples/deuterium/__init__.py
  naunet/examples/empty/__init__.py
  naunet/examples/ism/__init__.py
  naunet/examples/minimal/__init__.py
  naunet/examples/primordial/__init__.py
  naunet/network.py
  naunet/species.py
  tests/dusts/test_hh93dust.py
  tests/test_species.py
Due: black

Defer instantiating grain
  naunet/configuration.py
  naunet/console/commands/init.py
  naunet/console/commands/new.py
  naunet/console/commands/render.py
  naunet/network.py
  tests/test_network.py
Due: black

Rename grain modules and classes
  naunet/console/commands/init.py
  naunet/console/commands/new.py
  naunet/dusts/__init__.py
  naunet/grains/__init__.py
  naunet/grains/grain.py
  naunet/grains/hh93grain.py
  naunet/grains/rr07grain.py
  naunet/network.py
  naunet/reactions/kidareaction.py
  naunet/reactions/kromereaction.py
  naunet/reactions/leedsreaction.py
  naunet/reactions/reaction.py
  naunet/reactions/uclchemreaction.py
  naunet/reactions/umistreaction.py
  naunet/species.py
  naunet/templateloader.py
  tests/dusts/test_dust.py
  tests/dusts/test_hh93dust.py
  tests/dusts/test_rr07dust.py
  tests/reactions/test_leedsreaction.py
  tests/test_network.py
  tests/test_patchmaker.py
  tests/test_templateloader.py
Due: black

Define component class
  naunet/component.py
  tests/test_component.py
Due: black

Make reaction classes inherit component
  naunet/network.py
  naunet/reactions/kidareaction.py
  naunet/reactions/leedsreaction.py
  naunet/reactions/reaction.py
  naunet/reactions/uclchemreaction.py
  naunet/reactions/umistreaction.py
  naunet/templateloader.py
Due: black

Use symbols from reaction in grain rates
  naunet/grains/grain.py
  naunet/grains/hh93grain.py
  naunet/grains/rr07grain.py
  naunet/reactions/leedsreaction.py
  naunet/reactions/reaction.py
  naunet/reactions/uclchemreaction.py
  tests/dusts/test_dust.py
  tests/dusts/test_hh93dust.py
  tests/dusts/test_rr07dust.py
Due: black

Rename some files
  naunet/grains/grain.py
  tests/grains/test_grain.py
  tests/grains/test_hh93grain.py
  tests/grains/test_rr07grain.py
Due: black

Make grain class inherit component
  naunet/configuration.py
  naunet/grains/grain.py
  naunet/grains/hh93grain.py
  naunet/grains/rr07grain.py
  naunet/network.py
  naunet/reactions/leedsreaction.py
  naunet/reactions/uclchemreaction.py
  naunet/templates/base/cpp/include/naunet_constants.h.j2
  naunet/templates/base/cpp/src/naunet_constants.cpp.j2
Due: black, clang-format

Make Thermalprocess class inherit Component
  naunet/component.py
  naunet/grains/rr07grain.py
  naunet/network.py
  naunet/reactions/reaction.py
  naunet/thermalprocess.py
  tests/grains/test_grain.py
  tests/grains/test_hh93grain.py
  tests/grains/test_rr07grain.py
Due: black

Extend to mutiple grains, rename variables
  naunet/configuration.py
  naunet/console/commands/example.py
  naunet/console/commands/init.py
  naunet/console/commands/new.py
  naunet/console/commands/render.py
  naunet/examples/cloud/__init__.py
  naunet/examples/deuterium/__init__.py
  naunet/examples/empty/__init__.py
  naunet/examples/ism/__init__.py
  naunet/examples/minimal/__init__.py
  naunet/examples/primordial/__init__.py
  naunet/grains/grain.py
  naunet/network.py
  naunet/reactions/reaction.py
  naunet/templateloader.py
Due: black

Fix minor bugs
  naunet/grains/rr07grain.py
  naunet/network.py
  naunet/reactions/kidareaction.py
  naunet/reactions/kromereaction.py
  naunet/reactions/leedsreaction.py
  naunet/reactions/reaction.py
  naunet/reactions/uclchemreaction.py
  naunet/reactions/umistreaction.py
Due: black

Move `format` to reaction class attribute, add loading module list to configuration
  naunet/configuration.py
  naunet/console/commands/example.py
  naunet/console/commands/init.py
  naunet/console/commands/new.py
  naunet/console/commands/render.py
  naunet/network.py
  naunet/reactions/__init__.py
  naunet/reactions/kidareaction.py
  naunet/reactions/kromereaction.py
  naunet/reactions/leedsreaction.py
  naunet/reactions/reaction.py
  naunet/reactions/uclchemreaction.py
  naunet/reactions/umistreaction.py
Due: black

Solve circular import
  naunet/console/commands/extend.py
  naunet/grains/grain.py
  naunet/grains/hh93grain.py
  naunet/grains/rr07grain.py
  naunet/reactions/kidareaction.py
  naunet/reactions/leedsreaction.py
  naunet/reactions/reaction.py
  naunet/reactions/uclchemreaction.py
  naunet/reactions/umistreaction.py
  naunet/reactiontype.py
  naunet/templateloader.py
  tests/grains/test_grain.py
  tests/grains/test_hh93grain.py
  tests/grains/test_rr07grain.py
  tests/reactions/test_kidareaction.py
  tests/reactions/test_reaction.py
  tests/test_network.py
  tests/test_patchmaker.py
  tests/test_templateloader.py
Due: black

Add `source` attribute to reactions, fix bugs
  naunet/network.py
  naunet/reactions/__init__.py
  naunet/reactions/kidareaction.py
  naunet/reactions/kromereaction.py
  naunet/reactions/leedsreaction.py
  naunet/reactions/reaction.py
  naunet/reactions/uclchemreaction.py
  naunet/reactions/umistreaction.py
  naunet/templates/base/demo.ipynb
  tests/reactions/test_kidareaction.py
  tests/reactions/test_reaction.py
  tests/test_network.py
Due: black

Fix cooling rates
  naunet/thermalprocess.py
Due: black

Fix bugs
  naunet/network.py
  naunet/templates/odeint/src/naunet_ode.cpp.j2
  pyproject.toml
  tests/test_network.py
Due: black, clang-format

Fix bug
  naunet/grains/rr07grain.py
Due: black

Move krome required variables from templates into reactions
  naunet/reactions/kromereaction.py
  naunet/templates/cvode/src/naunet_rates.cpp.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
  naunet/thermalprocess.py
Due: black, clang-format

Move variable rendering to templates
  naunet/network.py
  naunet/templateloader.py
  naunet/templates/base/cpp/include/naunet_constants.h.j2
  naunet/templates/base/cpp/include/naunet_data.h.j2
  naunet/templates/base/cpp/src/naunet_constants.cpp.j2
  naunet/templates/cvode/include/naunet.h.j2
  naunet/templates/cvode/src/naunet.cpp.j2
  naunet/templates/cvode/src/naunet_fex.cpp.j2
  naunet/templates/cvode/src/naunet_jac.cpp.j2
  naunet/templates/cvode/src/naunet_rates.cpp.j2
  naunet/templates/odeint/include/naunet.h.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
  naunet/utilities.py
  tests/test_patchmaker.py
  tests/test_templateloader.py
Due: black, clang-format

Unregister variables
  naunet/component.py
  naunet/reactions/kromereaction.py
  naunet/templates/base/cpp/src/naunet_constants.cpp.j2
  naunet/templates/cvode/src/naunet_rates.cpp.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
Due: black, clang-format

Fix bugs
  naunet/templates/base/cpp/include/naunet_constants.h.j2
  naunet/templates/base/cpp/src/naunet_constants.cpp.j2
  naunet/templates/cvode/src/naunet_fex.cpp.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
Due: clang-format

Fix typos
  naunet/templates/cvode/src/naunet_fex.cpp.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
Due: clang-format

Clean code
  naunet/network.py
  naunet/templateloader.py
  naunet/templates/cvode/CMakeLists.txt.j2
  naunet/templates/cvode/src/naunet_fex.cpp.j2
  naunet/templates/cvode/src/naunet_jac.cpp.j2
  naunet/templates/odeint/CMakeLists.txt.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
  naunet/thermalprocess.py
Due: black, clang-format

Add element info to configuration, fix bug in photon yield
  naunet/configuration.py
  naunet/console/commands/render.py
  naunet/species.py
Due: black

Add Python API for renorm
  naunet/templates/base/cpp/tests/CMakeLists.txt.j2
  naunet/templates/base/cpp/tests/renorm.py.in.j2
  naunet/templates/cvode/include/naunet.h.j2
  naunet/templates/cvode/src/naunet.cpp.j2
  naunet/templates/odeint/include/naunet.h.j2
  naunet/templates/odeint/src/naunet.cpp.j2
  naunet/templates/tests/cloud/CMakeLists.txt.j2
  naunet/templates/tests/cloud/renorm.py.in.j2
Due: clang-format

Change substeps in error handling
  naunet/templates/cvode/src/naunet.cpp.j2
Due: clang-format

Implement new ode modifier
  naunet/configuration.py
  naunet/console/commands/example.py
  naunet/console/commands/init.py
  naunet/examples/cloud/__init__.py
  naunet/examples/deuterium/__init__.py
  naunet/examples/empty/__init__.py
  naunet/examples/ism/__init__.py
  naunet/examples/minimal/__init__.py
  naunet/examples/primordial/__init__.py
  naunet/grains/hh93grain.py
  naunet/network.py
  naunet/reactions/leedsreaction.py
  naunet/templateloader.py
  naunet/templates/cvode/src/naunet_jac.cpp.j2
  pyproject.toml
Due: black, clang-format

Fix minor bugs
  naunet/configuration.py
  naunet/grains/__init__.py
  naunet/grains/hh93grain.py
  naunet/templateloader.py
  naunet/templates/cvode/src/naunet_fex.cpp.j2
Due: black, clang-format

Add some properties into network, fix typos
  naunet/console/commands/render.py
  naunet/network.py
  naunet/patches.py
  naunet/templates/odeint/include/naunet.h.j2
  naunet/templates/odeint/src/naunet.cpp.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
Due: black, clang-format
