Repository appolloford/naunet: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clang-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: system
      types: [python]

    - id: clang-format
      name: clang-format
      files: \.(cpp|h).j2$
      entry: clang-format
      args: [-style=file, -i]
      language: python
      # types_or: [c++, c, c#, cuda]
      # minimum_pre_commit_version: 2.9.2

    # - id: pytest-check
    #   name: pytest-check
    #   entry: pytest
    #   language: system
    #   pass_filenames: false
    #   always_run: true

Fix self-shielding interpolation at lower bound
  naunet/console/commands/render.py
  naunet/templates/base/cpp/src/naunet_physics.cpp.j2
Due: black, clang-format

Fix ode_modifier implementation in `new`
  naunet/console/commands/new.py
  naunet/network.py
Due: black

Refactor constants templates
  naunet/templates/base/cpp/include/naunet_constants.h.j2
  naunet/templates/base/cpp/src/naunet_constants.cpp.j2
  naunet/templates/data/COshielding_11.2bH2_5e20nH.dat.j2
  naunet/templates/data/COshielding_VB88.dat.j2
  naunet/templates/data/H2shielding.dat.j2
  naunet/templates/data/N2shielding_11.2bH2_1e20nH.dat.j2
Due: clang-format

Refactor templateloader
  naunet/console/commands/render.py
  naunet/network.py
  naunet/templateloader.py
  naunet/templates/cvode/src/naunet_rates.cpp.j2
  naunet/templates/odeint/src/naunet_ode.cpp.j2
  tests/test_network.py
  tests/test_templateloader.py
Due: black, clang-format

Fix minor bugs
  naunet/network.py
  naunet/templateloader.py
  naunet/templates/base/cpp/include/naunet_physics.h.j2
  naunet/templates/base/cpp/src/naunet_physics.cpp.j2
Due: black, clang-format

Remove some usage of network info
  naunet/configuration.py
  naunet/console/commands/render.py
  naunet/network.py
  naunet/templates/base/cpp/include/naunet_physics.h.j2
Due: black, clang-format

Refactor patch API and remove info property from network
  naunet/console/commands/render.py
  naunet/network.py
  naunet/patches.py
  tests/test_patchmaker.py
Due: black

Ensure all enzo species can be parsed
  naunet/patches.py
  naunet/species.py
  pyproject.toml
Due: black

Save element and pseudo element list into network and reuse
  naunet/console/commands/render.py
  naunet/grains/grain.py
  naunet/grains/rr07grain.py
  naunet/network.py
  naunet/species.py
  tests/test_species.py
Due: black

Fix species equality, photon yield, implement enthalpy
  naunet/chemistrydata/__init__.py
  naunet/grains/hh93grain.py
  naunet/grains/rr07grain.py
  naunet/reactions/reaction.py
  naunet/species.py
  tests/reactions/test_leedsreaction.py
  tests/test_species.py
Due: black

Move some species class attributes to argumnets
  naunet/component.py
  naunet/network.py
  naunet/reactions/leedsreaction.py
  naunet/species.py
  naunet/templateloader.py
  tests/reactions/test_leedsreaction.py
  tests/test_species.py
Due: black

Refactor tests
  naunet/species.py
  tests/reactions/test_kidareaction.py
  tests/reactions/test_leedsreaction.py
  tests/test_species.py
Due: black

Update the configuration calss definition
  naunet/configuration.py
  naunet/console/commands/init.py
  naunet/console/commands/new.py
  naunet/network.py
  naunet/templateloader.py
  tests/console/commands/test_new.py
  tests/test_configuration.py
  tests/test_network.py
Due: black

Rename variables and fix typo
  naunet/configuration.py
  naunet/network.py
  naunet/templateloader.py
Due: black

Update command line interface
  naunet/configuration.py
  naunet/console/commands/example.py
  naunet/console/commands/init.py
  naunet/console/commands/render.py
  naunet/examples/cloud/__init__.py
  naunet/examples/deuterium/__init__.py
  naunet/examples/empty/__init__.py
  naunet/examples/ism/__init__.py
  naunet/examples/minimal/__init__.py
  naunet/examples/primordial/__init__.py
  naunet/network.py
  naunet/reactions/reaction.py
  tests/reactions/test_reaction.py
  tests/test_network.py
Due: black

Update function `find_duplicate_reaction`
  naunet/console/commands/extend.py
  naunet/console/commands/render.py
  naunet/network.py
  tests/test_network.py
Due: black

Add uclchem format to reaction f-string
  naunet/configuration.py
  naunet/network.py
  naunet/reactions/reaction.py
  naunet/reactions/uclchemreaction.py
  tests/reactions/test_reaction.py
Due: black

Support replacing capital species to normal names
  naunet/configuration.py
  naunet/console/commands/example.py
  naunet/console/commands/init.py
  naunet/console/commands/render.py
  naunet/examples/cloud/__init__.py
  naunet/examples/deuterium/__init__.py
  naunet/examples/empty/__init__.py
  naunet/examples/ism/__init__.py
  naunet/examples/minimal/__init__.py
  naunet/examples/primordial/__init__.py
  naunet/species.py
  tests/test_configuration.py
  tests/test_species.py
Due: black

Make enzo patch also support element replacement
  naunet/configuration.py
  naunet/console/commands/render.py
  naunet/patches.py
Due: black

Simple refactor patch
  naunet/console/commands/render.py
  naunet/patches.py
  tests/test_patches.py
Due: black

Redefine `new` command
  naunet/console/commands/__init__.py
  naunet/console/commands/new.py
  tests/conftest.py
  tests/console/commands/test_new.py
Due: black

Add test of `example` command
  tests/console/commands/test_example.py
  tests/console/commands/test_new.py
Due: black

Typo, update python tests
  naunet/patches.py
  naunet/templates/base/cpp/tests/renorm.py.in.j2
  naunet/templates/base/cpp/tests/singlegrid.py.in.j2
Due: black

Add unit to the generated derived fields
  naunet/patches.py
Due: black

Bump up to sundials v6
  naunet/templates/cvode/CMakeLists.txt.j2
  naunet/templates/cvode/include/naunet.h.j2
  naunet/templates/cvode/src/naunet.cpp.j2
Due: clang-format

Bump versions of github actions
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
Due: none

Fix keyword list in uclchem reaction
  naunet/examples/cloud/__init__.py
  naunet/reactions/uclchemreaction.py
Due: black

Bump versions of OS and dependencies in github actions
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  naunet/templates/cvode/CMakeLists.txt.j2
  scripts/actions/install_suitesparse.sh
  scripts/actions/install_sundials.sh
  tests/console/commands/test_example.py
Due: black

Use brew install boost
  .github/workflows/macos.yml
Due: none

Bump cuda version
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  scripts/actions/test_examples.sh
Due: none

Fix species name in tests with replacement working
  naunet/templates/tests/cloud/renorm.py.in.j2
  naunet/templates/tests/cloud/singlegrid.py.in.j2
Due: none

Fix typos
  naunet/network.py
  naunet/reactions/reaction.py
  tests/reactions/test_reaction.py
Due: black

Force cmake use python from poetry virtual env in CI
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  naunet/templates/base/cpp/tests/CMakeLists.txt.j2
  naunet/templates/cvode/CMakeLists.txt.j2
  naunet/templates/odeint/CMakeLists.txt.j2
  scripts/actions/build_examples.sh
  scripts/actions/test_examples.sh
Due: none

Bump versions of Jinja2, lark and a few other minor dependencies
  .vscode/settings.json
  naunet/templates/cvode/src/CMakeLists.txt.j2
  naunet/templates/odeint/src/CMakeLists.txt.j2
  pyproject.toml
Due: none

Minor refactor
  naunet/reactions/reaction.py
  naunet/utilities.py
Due: black

Print reaction rate expression in reaction string
  naunet/reactions/reaction.py
Due: black

Add n_atoms property into Species
  naunet/species.py
  tests/reactions/test_reaction.py
  tests/test_species.py
Due: black

Update poetry format in pyproject.toml
  pyproject.toml
Due: none

Style code
  naunet/component.py
  naunet/configuration.py
  naunet/console/commands/command.py
  naunet/console/commands/example.py
  naunet/console/commands/extend.py
  naunet/console/commands/init.py
  naunet/console/commands/new.py
  naunet/console/commands/render.py
  naunet/grains/grain.py
  naunet/grains/hh93grain.py
  naunet/grains/rr07grain.py
  naunet/network.py
  naunet/patches.py
  naunet/reactions/kidareaction.py
  naunet/reactions/kromereaction.py
  naunet/reactions/leedsreaction.py
  naunet/reactions/uclchemreaction.py
  naunet/reactions/umistreaction.py
  naunet/reactiontype.py
  naunet/templateloader.py
  naunet/templates/cvode/src/naunet.cpp.j2
  naunet/thermalprocess.py
  naunet/utilities.py
  pyproject.toml
  tests/console/commands/test_example.py
  tests/console/commands/test_new.py
  tests/reactions/test_kidareaction.py
  tests/reactions/test_reaction.py
  tests/test_converter.py
  tests/test_network.py
  tests/test_thermalprocess.py
Due: black, clang-format

Bump dependecy cleo to v2
  naunet/console/application.py
  naunet/console/commands/command.py
  naunet/console/commands/example.py
  naunet/console/commands/extend.py
  naunet/console/commands/init.py
  naunet/console/commands/new.py
  naunet/console/commands/render.py
  pyproject.toml
  tests/conftest.py
  tests/console/commands/test_example.py
  tests/console/commands/test_new.py
Due: black
